<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AWS_CONFIGURATION_KEY</key>
	<string>$(AWS_CONFIGURATION_KEY)</string>
	<key>Appboy</key>
	<dict>
		<key>LogLevel</key>
		<string>0</string>
	</dict>
	<key>BRAZE_API_KEY</key>
	<string>$(BRAZE_API_KEY)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>COGNITO_CONFIGURATION_KEY</key>
	<string>$(COGNITO_CONFIGURATION_KEY)</string>
	<key>GOOGLE_ANALYTICS_REGISTRATION_WITH_AD_NETWORK_ENABLED</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>ROOT_URL</key>
	<string>$(ROOT_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>dotsfont.ttf</string>
		<string>Poppins-BoldItalic.ttf</string>
		<string>Poppins-ExtraLightItalic.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-SemiBoldItalic.ttf</string>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-MediumItalic.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-BlackItalic.ttf</string>
		<string>Poppins-ExtraBoldItalic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-ThinItalic.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-SemiBoldItalic.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UILaunchStoryboardName</key>
					<string>LaunchScreen</string>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
